package views

import "github.com/sumit-poudel/astral/views/templates"

templ index() {
	<div class="text-foreground-muted">test</div>
}

templ InderRenderer() {
	<html class="">
		@templates.Head("index - Astral")
		<body class="bg-surface">
			@templates.NavBar()
			@templates.Container() {
				@index()
			}
			@templates.Modal() {
			}
		</body>
	</html>
}
