package views

import "github.com/sumit-poudel/astral/views/templates"

templ index(id int32) {
	<div class="text-foreground-muted">
		{ id }
	</div>
}

templ InderRenderer(id int32) {
	<html class="">
		@templates.Head("index - Astral")
		<body class="bg-surface">
			@templates.NavBar()
			@templates.Container() {
				@index(id)
			}
			@templates.Modal() {
			}
		</body>
	</html>
}
