package views

import "github.com/sumit-poudel/astral/views/templates"
import "github.com/sumit-poudel/astral/internal/db"

templ shop(users []db.User) {
	<div>
		<h1>Shop</h1>
		for _, user := range users {
			<div>
				<p>{ user.ID }</p>
				<p>{ user.Name.String }</p>
			</div>
		}
	</div>
}

templ ShopRenderer(users []db.User) {
	<html>
		@templates.Head("shop - Astral")
		<body>
			@templates.NavBar()
			@shop(users)
		</body>
	</html>
}
