package templates

templ Head(title string) {
	<head>
		<title>{ title }</title>
		<link href="/static/styles.css" rel="stylesheet"/>
		<script type="module" src="/static/datastar.js"></script>
	</head>
}
