package templates

templ Signup() {
	<div id="modal" class="w-full max-w-md">
		<div class="bg-surface-subtle border border-border rounded-2xl p-8 shadow-sm">
			<div class="flex justify-end">
				<button data-on:click="document.getElementById('modal').replaceChildren()">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
					</svg>
				</button>
			</div>
			<div class="mb-8 text-center">
				<h1 class="text-2xl font-semibold tracking-tight text-foreground">
					Welcome aboard
				</h1>
				<p class="mt-2 text-sm text-foreground-muted"></p>
				Create your account. Get started.
			</div>
			<form class="flex flex-col gap-5" action="/signup" method="POST">
				<div class="flex flex-col gap-2">
					<label
						for="name"
						class="text-sm font-medium text-foreground"
					>
						Full Name
					</label>
					<input
						id="name"
						name="name"
						type="text"
						placeholder="Enter your Full Name"
						required
						class="h-10 w-full rounded-lg border border-border bg-surface px-3 text-sm text-foreground outline-none transition placeholder:text-foreground-subtle focus:border-primary focus:ring-2 focus:ring-primary/10"
					/>
				</div>
				<div class="flex flex-col gap-2">
					<label
						for="email"
						class="text-sm font-medium text-foreground"
					>
						Email
					</label>
					<input
						id="email"
						name="email"
						type="email"
						placeholder="Enter your email"
						required
						class="h-10 w-full rounded-lg border border-border bg-surface px-3 text-sm text-foreground outline-none transition placeholder:text-foreground-subtle focus:border-primary focus:ring-2 focus:ring-primary/10"
					/>
				</div>
				<div class="flex flex-col gap-2">
					<label
						for="password"
						class="text-sm font-medium text-foreground"
					>
						Password
					</label>
					<input
						id="password"
						name="password"
						type="password"
						required
						placeholder="Enter your password"
						class="h-10 w-full rounded-lg border border-border bg-surface px-3 text-sm text-foreground outline-none transition placeholder:text-foreground-subtle focus:border-primary focus:ring-2 focus:ring-primary/10"
					/>
				</div>
				<button
					class="mt-2 h-10 w-full rounded-lg bg-primary px-4 text-sm font-medium text-primary-foreground transition hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-primary/20 active:opacity-80"
					type="submit"
				>
					Sign in
				</button>
			</form>
			<div class="my-4 text-center">
				<button data-on:click="@get('/login')" class="mt-2 text-sm text-foreground-muted">back to login</button>
			</div>
		</div>
	</div>
}
